body {
    font-family: Arial, sans-serif;
    background-color: #d24f2b44;
    text-align: center;
    margin: 20px;
}

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background: white;
    padding: 60px 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20%;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

textarea {
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 20px;;
}
input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 25%;
    border: none;
    background: oklch(0.712 0.194 13.428);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: oklch(0.514 0.222 16.935);
}